## Lab | Inferential statistics - ANOVA

Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python.

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power.

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

Part 2
In this section, use the Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

## Loading libraries

In [16]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
import researchpy as rp
import scipy.stats as stats

## Loading dataset

In [2]:
data=pd.read_excel('anova_lab_data.xlsx',sheet_name='data_collected')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

## Brief exploration of the dataset

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [4]:
list(data.columns)

['Power ', 'Etching Rate']

In [7]:
#cleaning power space

data.columns=['Power','EtchingRate']
data

    Power  EtchingRate
0   160 W         5.43
1   180 W         6.24
2   200 W         8.79
3   160 W         5.71
4   180 W         6.71
5   200 W         9.20
6   160 W         6.22
7   180 W         5.98
8   200 W         7.90
9   160 W         6.01
10  180 W         5.66
11  200 W         8.15
12  160 W         5.59
13  180 W         6.60
14  200 W         7.55

In [8]:
#double check if space was deleted

list(data.columns)

['Power', 'EtchingRate']

## OLS Results

In [10]:
model = ols('EtchingRate ~ C(Power)',data=data).fit()
table = sm.stats.anova_lm(model)
print(table)

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [11]:
#etching rate variable organization by power

rp.summary_cont(data['EtchingRate'])

      Variable     N    Mean      SD      SE  95% Conf.  Interval
0  EtchingRate  15.0  6.7827  1.2286  0.3172     6.1023    7.4631

In [14]:
rp.summary_cont(data['EtchingRate'].groupby(data['Power']))

       N   Mean      SD      SE  95% Conf.  Interval
Power
160 W  5  5.792  0.3199  0.1431     5.3948    6.1892
180 W  5  6.238  0.4343  0.1942     5.6987    6.7773
200 W  5  8.318  0.6696  0.2995     7.4866    9.1494

In [17]:
stats.f_oneway(data['EtchingRate'][data['Power'] == '160 W'],
               data['EtchingRate'][data['Power'] == '180 W'],
               data['EtchingRate'][data['Power'] == '200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

The null hypothesis is rejected.